# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Oo]bj/
[Ll]ogs/
[Mm]emoryCaptures/

# Visual Studio
.vs/
*.csproj
*.sln
*.user
*.unityproj

# Unity meta and cache
*.pidb
*.booproj
*.svd
*.pdb

# Packaging
*.apk
*.aab

# OS files
.DS_Store
Thumbs.db

# Rider / JetBrains
.idea/
*.iml
